In [40]:
import pandas as pd

In [41]:
df = pd.read_csv("..\Wetter_2024\clean_schnarrenberg_dwd_regen.csv", parse_dates=True, index_col=0)

<>:1: SyntaxWarning: invalid escape sequence '\W'
<>:1: SyntaxWarning: invalid escape sequence '\W'
C:\Users\Dome Arbeit\AppData\Local\Temp\ipykernel_13020\3656553311.py:1: SyntaxWarning: invalid escape sequence '\W'
  df = pd.read_csv("..\Wetter_2024\clean_schnarrenberg_dwd_regen.csv", parse_dates=True, index_col=0)

In [42]:
df.drop(columns=["MESS_DATUM", "QN_8", "RS_IND", "WRTR", "eor", "STATIONS_ID" ], inplace=True)

In [43]:
df.rename(columns = {"  R1": "R1"}, inplace=True)

In [44]:
df.fillna(0, inplace=True),

(None,)

In [49]:
df['r1_daily'] = df['R1'].resample('D').mean()
df['r1_3_days'] = df['R1'].resample('3D').mean()
df['r1_week'] = df['R1'].resample('W').mean()

In [50]:
df.ffill()

                      R1  r1_daily  r1_3_days   r1_week
DATUM
2023-07-23 00:00:00  0.0     0.025   0.177778  0.025000
2023-07-23 01:00:00  0.0     0.025   0.177778  0.025000
2023-07-23 02:00:00  0.0     0.025   0.177778  0.025000
2023-07-23 03:00:00  0.0     0.025   0.177778  0.025000
2023-07-23 04:00:00  0.0     0.025   0.177778  0.025000
...                  ...       ...        ...       ...
2025-01-22 19:00:00  0.0     0.000   0.000000  0.002976
2025-01-22 20:00:00  0.0     0.000   0.000000  0.002976
2025-01-22 21:00:00  0.0     0.000   0.000000  0.002976
2025-01-22 22:00:00  0.0     0.000   0.000000  0.002976
2025-01-22 23:00:00  0.0     0.000   0.000000  0.002976

[13200 rows x 4 columns]

In [51]:
df.to_csv("..\Wetter_2024\clean_schnarrenberg_dwd_regen.csv")

<>:1: SyntaxWarning: invalid escape sequence '\W'
<>:1: SyntaxWarning: invalid escape sequence '\W'
C:\Users\Dome Arbeit\AppData\Local\Temp\ipykernel_13020\4041657062.py:1: SyntaxWarning: invalid escape sequence '\W'
  df.to_csv("..\Wetter_2024\clean_schnarrenberg_dwd_regen.csv")