In [9]:
import pandas as pd

In [10]:
df = pd.read_csv("Daten/Wetter_2024/schnarrenberg_dwd_regen.csv.txt", delimiter=";", header = 0)

In [11]:
df

       STATIONS_ID  MESS_DATUM  QN_8    R1  RS_IND  WRTR  eor
0             4928  2023072300     3   0.0       0     0  eor
1             4928  2023072301     3   0.0       0     0  eor
2             4928  2023072302     3   0.0       0     0  eor
3             4928  2023072303     3   0.0       0     0  eor
4             4928  2023072304     3   0.0       0     0  eor
...            ...         ...   ...   ...     ...   ...  ...
13195         4928  2025012219     1   0.0       0     0  eor
13196         4928  2025012220     1   0.0       0     0  eor
13197         4928  2025012221     1   0.0       0     0  eor
13198         4928  2025012222     1   0.0       0     0  eor
13199         4928  2025012223     1   0.0       0     0  eor

[13200 rows x 7 columns]

In [12]:
df["DATUM"] = df["MESS_DATUM"].astype(str)
df["DATUM"] = pd.to_datetime(df["DATUM"].apply(lambda x: x[0:4] + "-" + x[4:6] + "-" + x[6:8] + "-" + x[8:10]))

In [13]:
df.rename(columns = {
    "R1" : "Niederschlag_mm",
    "RS_IND" : "Niederschlag_indikator",
    "WRTR" : "Niederschlagsform"
}, inplace = True)

In [14]:
df.set_index("DATUM", inplace=True)

In [15]:
df.to_csv("dwd_schnarrenberg_clean.csv")